.App {
  /* text-align: center; */
  padding: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.center {
  text-align: center;
}
h2 {
  margin: 0px;
}
.sort-btn  {
  margin-bottom: 5px
}
.flex {
  display: flex;
  float: right;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

.form-section {
  border: 1px solid #dddddd;
}
form {
  padding: 30px;
  display: flex;
}
label {
  padding: 20px;
}